/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Times New Roman', Times, serif;
    background-color: rgba(156, 65, 23, 0.253);
}

/* Header styles */
.header {
    background-color: rgb(99, 60, 60);
    color: azure;
    text-align: center;
    padding: 25px;
}

.links ul {
    list-style: none;
}

.links ul li {
    display: inline;
    margin: 0 10px;
}

.shaun {
    width: 100px; /* Adjust the width as needed */
    border: 5px solid teal;
}

/* About Me styles */
.about-me1 {
    padding: 20px;
    text-align: center;
}

/* Work section styles */
.work1 {
    text-align: center;
    margin: 20px;
}

.work-item {
    margin: 20px;
}

/* Contact Me styles */
.contact-me1 {
    padding: 20px;
    text-align: center;
}

.contact-me1 h2 {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
}
